{{- if eq .chezmoi.os "darwin" "linux" }}
  # Anthropic API key from 1Password
  set -gx ANTHROPIC_API_KEY "{{ onepasswordRead "op://Private/Anthropic API Key/password" }}"

  # Gemini API key from 1Password
  set -gx GEMINI_API_KEY "{{ onepasswordRead "op://Private/Gemini API Key/password" }}"
  set -gx GOOGLE_API_KEY "{{ onepasswordRead "op://Private/Gemini API Key/password" }}"
  set -gx LLM_GEMINI_KEY "{{ onepasswordRead "op://Private/Gemini API Key/password" }}"

  # OpenAI API key from 1Password
  set -gx OPENAI_API_KEY "{{ onepasswordRead "op://Private/OpenAI API Key/password" }}"

  # Tavily API Key
  set -gx TAVILY_API_KEY "{{ onepasswordRead "op://Private/Tavily API Key/password" }}"
{{- end }}

if test (uname -m) = "arm64"
    set -Ux HOMEBREW_PREFIX /opt/homebrew
else
    set -Ux HOMEBREW_PREFIX /usr/local
end

set -Ux HOMEBREW_BIN $HOMEBREW_PREFIX/bin
set -Ux HOMEBREW_SBIN $HOMEBREW_PREFIX/sbin

fish_add_path ~/.local/bin
fish_add_path $HOMEBREW_BIN
fish_add_path $HOMEBREW_SBIN

if test -e $HOMEBREW_BIN/brew
    eval ($HOMEBREW_BIN/brew shellenv)
end

# bun
set --export BUN_INSTALL "$HOME/.bun"
set --export PATH $BUN_INSTALL/bin $PATH

# pnpm
set -gx PNPM_HOME "/Users/amadeus/Library/pnpm"
if not string match -q -- $PNPM_HOME $PATH
  set -gx PATH "$PNPM_HOME" $PATH
end

# proto
set -gx PROTO_HOME "$HOME/.proto";
set -gx PATH "$PROTO_HOME/shims" "$PROTO_HOME/bin" $PATH;

if status is-interactive
    # Commands to run in interactive sessions can go here
    set -g fish_greeting 'sup bisch'
    set -gx EDITOR nvim
end

# Trying out vim mode...
fish_vi_key_bindings
